
{% extends 'registration/base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Student Registration Management System</h1>
    <p class="lead">This system helps manage student details.</p>
    <hr class="my-4">
    <p>Get started by registering or logging in.</p>
    <a class="btn btn-primary btn-lg" href="/register/" role="button">Register</a>
    <a class="btn btn-success btn-lg" href="/login/" role="button">Login</a>
  </div>
{% endblock %}
